{% extends 'base.html' %}
{% block title %}Reset Password | E-Shop{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-card shadow-lg">

    <h3 class="auth-title">Reset Password 🔁</h3>

    <form method="POST">

      <div class="form-floating mb-3">
        <input type="password" name="newpassword" class="form-control" placeholder="New Password" required>
        <label>New Password</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
        <label>Confirm Password</label>
      </div>

      <button class="btn btn-danger w-100 auth-btn">Update Password</button>

    </form>

  </div>
</div>
{% endblock %}
